% rebase('osnova.html')
<style>
    h1 {
        text-align: center;
        margin-top: 10%;
        font-size: xx-large;
        color: red;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1cm;
    }
    form {
        text-align: center;
        font-size: x-large;
        }
    #vrni{
        width: 200px;
        height: 40px;
        margin-top: 20px;
    }
    input[type=submit] {
        width: 60px;
        height: 60px;
    }
</style>


<h1>Na žalost ste izgubili. Več sreče prihodnjič!</h1>

<img src="https://cdn3.volusion.com/wqcby.wpfxg/v/vspfiles/photos/698-2.jpg" alt='Poraz'>

<form action='/zacetna_stran/', method="POST">
    <input type='submit' value='Vrni na začetno stran' id='vrni' style="font-size : 20px">
</form>