% rebase('osnova.html')
<style>
    h1, form {text-align: center;}
    input[type=submit] {
    width: 180px;  height: 80px;
    }
</style>
<h1><pre>
____  ___ _             _                         
|   \/   (_) _ __  ___ | | _____     ______  ____ 
| |\  /| | |  _  \/ _ \| |/ _ \ \   / / ()_|/ ___|
| | \/ | | | | | | (_) | | (_) \ \_/ /| |__ | |__ 
|_|    |_|_|_| |_|\___/|_|\___/ \___/ \____|\____|

</pre></h1>

<form action='/nova_igra/', method="POST">
    <input type='submit' value='Nova igra' style="font-size : 35px">
</form>